**/.DS_Store
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/libraries/
.idea/kotlinc.xml
.idea/shelf/
.idea/compiler.xml
.idea/encodings.xml
.idea/vcs.xml
**/*.iml
target
*.iml
.classpath
.project
.settings
