doctype html
html
    head
        meta(charset='utf-8')
        title Guestbook
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    body
        .header
            .container
                h1 
                    a(href='/') My Guestbook
                a(href='https://github.com/GoogleCloudPlatform/cloud-code-samples').text-muted View on Github
        .container.posts.mt-0
            include new.pug
            include list.pug
