apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: node-guestbook-backend
  labels:
    app: node-guestbook
    tier: backend
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: node-guestbook
        tier: backend
    spec:
      containers:
      - name: backend
        image: node-guestbook-backend
        ports:
        - name: http-server
          containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: GUESTBOOK_DB_ADDR
          value: "node-guestbook-mongodb:27017"