apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: node-guestbook-backend
  labels:
    app: node-guestbook
    tier: backend
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: node-guestbook
        tier: backend
    spec:
      containers:
      - name: backend
        image: node-guestbook-backend
        ports:
        - name: http-server
          containerPort: 8080
        - name: debug
          containerPort: 9229
        env:
        - name: PORT
          value: "8080"
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: username
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-secret
              key: password
        - name: MONGO_HOST
          value: "mongo-service"
        readinessProbe:
          httpGet:
              port: 8080
              path: /messages
          failureThreshold: 3
          timeoutSeconds: 2
          successThreshold: 2
