*.suo
*.user
_ReSharper.*
bin
obj
packages
dotnet-hello-world/.vscode/settings.json
dotnet-hello-world/src/obj/
dotnet-hello-world/src/bin/
dotnet-guestbook/.vscode/settings.json
dotnet-guestbook/src/backend/obj/
dotnet-guestbook/src/backend/bin/
dotnet-guestbook/src/frontend/obj/
dotnet-guestbook/src/frontend/bin/
.vs/
