# Format: //devtools/kokoro/config/proto/build.proto

# Download secrets from Cloud Storage.
gfile_resources: "/bigstore/cloud-devrel-kokoro-resources/cloud-code-samples"

# Download trampoline resources.
gfile_resources: "/bigstore/cloud-devrel-kokoro-resources/trampoline"

# Don't use trampoline for now
build_file: "cloud-code-samples/.kokoro/dotnet/build.sh"

env_vars: {
    key: "TRAMPOLINE_IMAGE"
    value: "gcr.io/cloud-code-samples-tests/cloud-sdk"
}

# Tell the trampoline which build file to use.
env_vars: {
    key: "TRAMPOLINE_BUILD_FILE"
    value: "github/cloud-code-samples/.kokoro/dotnet/build.sh"
}
