<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Guestbook</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
  <link rel="icon" th:href="@{/favicon.png}" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand mr-auto" href="/">SalStocks</a>
    <a class="nav-link active" href="/">Home/Search</a>
    <a class="nav-link" href="#" sec:authorize="isAuthenticated()">Favorites</a>
    <a class="nav-link" href="#" sec:authorize="isAuthenticated()">Portfolio</a>
    <form class="nav-link" th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
      <input type="submit" value="Logout" />
    </form>
    <a class="nav-link" href="/login" sec:authorize="!isAuthenticated()">Login/Sign Up</a>
  </nav>
  <div class="header">
    <div class="container">
      <h1>
        <a href="/">Welcome!</a>
      </h1>
      <a href="#" class="text-muted">View on GitHub</a>
    </div>
  </div>

  <div class="container posts mt-0">
    <div class="row">
      <div class="col-md-6">
        Col1
      </div>
      <div class="col-md-6">
        Col2
      </div>
    </div>

    <div class="card my-3 col-12" th:each="m : ${messages}">
      <div class="card-body">
        <h5 class="card-title" th:text="${m.Email}">Email</h5>
        <br>
        <p class="card-text" th:text="${m.Username}">Username</p>
        <br>
        <p class="card-text" th:text="${m.Password}">Password</p>
      </div>
    </div>
    <div class="alert alert-info" role="alert" th:if="${#lists.isEmpty(messages)}">
      No messages are logged to the guestbook yet.
    </div>
  </div>
  <script>

  </script>
</body>

</html>